<div class="container">
  <br />
  <label for="nome" class="minha-label">Nome</label>
  <input
    type="text"
    id="nome"
    placeholder="Nome do Usuário"
    class="meu-input"
  />

  <br />
  <label for="email" class="minha-label">E-mail</label>
  <input
    type="text"
    id="email"
    placeholder="E-mail do Usuário"
    class="meu-input"
  />

  <br />
  <label for="senha" class="minha-label">Senha</label>
  <input type="text" id="senha" placeholder="Senha" class="meu-input" />

  <br />
  <label for="confirmar-senha" class="minha-label">Confirmar Senha</label>
  <input
    type="text"
    id="confirmar-senha"
    placeholder="Confirmar a senha"
    class="meu-input"
  />

  <br />
  <button (click)="this.cadastrar()" class="meu-botao">
    REALIZAR CADASTRO
  </button>
</div>
