<div class="navbar-fixed">
  <nav class="meu-container">
    <div class="nav-wrapper black">
      <a
        (click)="this.abrirInicio()"
        class="brand-logo"
        style="cursor: pointer"
      >
        <img class="meu-container" src=".\assets\resources\images\logo.png" />
        <a class="hide-on-med-and-down cor-padrao meu-logo"> RETRO REVIEW </a>
      </a>
      <a
        data-target="menu-mobile"
        class="sidenav-trigger"
        [hidden]="!this.usuarioLogado"
      >
        <i class="material-icons">menu</i>
      </a>
      <ul
        id="nav-mobile"
        class="right hide-on-med-and-down"
        [hidden]="!this.usuarioLogado"
      >
        <li><a routerLink="/" class="fonte-menu cor-padrao">Início</a></li>
        <li>
          <a routerLink="/review" class="fonte-menu cor-padrao">Nova Review</a>
        </li>
        <li>
          <a routerLink="/login" class="fonte-menu cor-padrao">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul
  class="sidenav black"
  id="menu-mobile"
  #mobile
  [hidden]="!this.usuarioLogado"
>
  <li><a routerLink="/" class="cor-padrao sidenav-close">Início</a></li>
  <li>
    <a routerLink="/review" class="cor-padrao sidenav-close">Nova Review</a>
  </li>
  <li><a routerLink="/login" class="cor-padrao sidenav-close">Sair</a></li>
</ul>
