<div class="navbar-fixed">
  <nav class="meu-container">
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo">
        <img class="meu-container" src=".\assets\resources\images\logo.png" />
        <a
          style="position: relative; bottom: 2.5rem; font-size: 3rem"
          class="hide-on-med-and-down cor-padrao"
        >
          RETRO REVIEW
        </a>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" class="fonte-menu cor-padrao">Início</a></li>
        <li><a href="#" class="fonte-menu cor-padrao">Nova Review</a></li>
        <li><a href="#" class="fonte-menu cor-padrao">Sair</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav black" id="mobile-demo" #mobile>
  <li><a href="#" class="cor-padrao">Início</a></li>
  <li><a href="#" class="cor-padrao">Nova Review</a></li>
  <li><a href="#" class="cor-padrao">Sair</a></li>
</ul>
