<div class="container">
  <br />
  <label for="user" class="minha-label">Usuário</label>
  <input type="text" id="user" placeholder="Usuário" class="meu-input" />

  <br />
  <label for="senha" class="minha-label">Senha</label>
  <input type="password" id="senha" placeholder="Senha" class="meu-input" />

  <br />
  <button type="submit" class="meu-botao">ACESSAR</button>

  <br />
  <label class="minha-label" style="font-size: 1rem">Novo Usuário? </label
  ><a href="#" style="font-size: 1rem">Clique aqui para se cadastrar</a>
</div>
