<div>
  <table style="color: greenyellow; border: 2px solid greenyellow">
    <thead>
      <tr>
        <th style="width: 25%">JOGO</th>
        <th style="width: 75%">REVIEW</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jogo 1</td>
        <td>
          <p>Autor: Pessoa 1</p>
          <p>Nota: 10</p>
          <p>Review: review da pessoa 1</p>
        </td>
      </tr>
      <tr>
        <td>Jogo 2</td>
        <td>
          <p>Autor: Pessoa 2</p>
          <p>Nota: 10</p>
          <p>Review: review da pessoa 2</p>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
