/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";


* {
  font-family: monospace;
}


.cor-padrao {
  color: greenyellow !important;
}

.meu-container {
  height: 100px !important;
}
